@font-face {
  font-family: 'Ethnocentric';
  src: url('../asset/ethnocentric/ethnocentric_rg.ttf');
  src: url('../asset/ethnocentric/ethnocentric rg it.ttf');
  font-weight: 400;
  font-style: normal;
}